#!/usr/bin/env bash
# Profile to create useful aliases around coolify docker container
#
# Usage :
# - place it in /etc/profile.d
# =====

function coolify-services {
    docker-compose --project-directory "{{ coolify_app_volume }}" ${1:-'up -d'}
}

function coolify-run {
    docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
        -v {{ coolify_data_volume }}:{{ coolify_data_volume }}\
        -u {{ coolify_user }} -w /usr/src/app \
        --restart always \
        -name {{ coolify_container_name }} \
        coolify:latest
}

function coolify-action {
    docker ${1:-restart} {{ coolify_container_name }}
}
