[Unit]
Description=Coolify heroku self hosted alternative
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory={{ coolify_data_volume }}
ExecStart=docker-compose up
ExecStop=docker-compose down
ExecReload=docker-compose restart

[Install]
WantedBy=multi-user.target
