<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create coolify github app</title>
</head>
<body>
    <main>
        <form action="https://github.com/settings/apps/new?state=abc123" method="post">
            Create a GitHub App Manifest:
            <input type="hidden" name="manifest" id="manifest" value="{{ coolify_github_app_manifest | to_json }}">
            <br>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>
